.map {
    width: 690px;
    height: 390px;
    border: 5px solid;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  
  .map div {
    height: 30px;
    width: 30px;
  }
  
  .bomber-man {
    position: absolute;
    background-color: black;
  }
  
  .wall {
    background-color: blue;
  }
  