.map {
    width: 560px;
    height: 560px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.map div {
    width: 20px;
    height: 20px;
    /* border: solid black;
    box-sizing: border-box; */
}

.pac-dot {
    background-color: greenyellow;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}



.power-pellet {
    background-color: red;
    border-radius: 10px;
}